* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  list-style-type: none;
}

:root {
  --card-color: #ffc681;
  --background-color: #6cefdd;
  --button-color-two: #4dfff3;
  --button-color: #e7a249;
  --font-color: #e23d09;
}
html {
  scroll-behavior: smooth;
}
h1 {
  margin-top: 2rem;
  font-size: 4rem;
  text-decoration: underline;
  color: var(--font-color);
  text-align: center;
  text-shadow: 1px 1px 3px black;
}
h2 {
  margin: 2rem;
  font-size: 2rem;
  text-decoration: underline;
}
h3 {
  text-align: center;
  font-size: 1.7rem;
}
p {
  margin: 1.5rem;
  font-size: 1.2rem;
}
li {
  font-size: 1.2rem;
}
body {
  font-family: "Bubblegum Sans", sans-serif;
  background-color: var(--background-color);
}
.main {
  background-image: url(./assets/background_ct.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.searchbar {
  width: 350px;
}

.radio {
  margin: 1rem;
}
label {
  margin: 0.2rem;
  color: antiquewhite;
  text-shadow: 2px 2px 2px black;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 2px;
}
.error {
  text-align: center;
  padding: 3rem;
  margin: 3rem auto;
  width: 50px;
  height: 50px;
  border: 2px solid black;
}
img {
  border: 3px solid black;
  width: 80%;
}
.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn {
  color: black;
  font-weight: 500;
  background-color: var(--button-color-two);
  margin: 1rem;
}
.viewandback-btn {
  color: black;
  font-weight: 500;
  background-color: var(--button-color);
  border: var(--button-color);
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 10px;
}
.viewandback-btn:hover {
  cursor: pointer;
  background-color: var(--font-color);
  border: 1px solid var(--font-color);
}
.btn:hover {
  cursor: pointer;
  background-color: var(--font-color);
  border: 1px solid var(--font-color);
}
.cocktail-card {
  background-color: var(--card-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  font-size: 16px;
  border: 3px solid black;
  border-radius: 2rem;
  box-shadow: 2px 2px 3px #5a575c;
}

.search-img {
  margin: 1rem;
  border-radius: 2rem;
}
ul {
  text-align: center;
  padding: 0;
}
.cocktail-container {
  display: grid;
  grid-template-columns: 1fr;
}
.viewed {
  display: flex;
  margin: auto;
}

footer {
  display: flex;
  justify-content: center;
}
@media (min-width: 576px) {
  .viewed {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .cocktail-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .cocktail-container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  }
  .viewed {
    width: 40%;
  }
}
