* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  list-style-type: none;
}

:root {
  --button-color: #e7a249;
  --font-color: #e23d09;
}
body {
  background-color: #eee2df;
}

h1 {
  color: var(--font-color);
  text-align: center;
}
h2 {
  color: var(--font-color);
  font-size: 1.5rem;
  margin-top: 1rem;
}
h3 {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
}
p {
  margin: 1rem;
}
.main {
  background-image: url(./assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
  width: 100%;
}
label {
  color: whitesmoke;
}
.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn {
  background-color: var(--button-color);
  border: var(--button-color);
  margin: 1rem;
}
.btn:hover {
  cursor: pointer;
  background-color: var(--font-color);
}
.cocktail-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0.5rem;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 2rem;
  box-shadow: 1px 1px 1px #3e3d3f;
}
.logo {
  width: 200px;
  height: 200px;
}
img {
  width: 80%;
}
.search-img {
  margin: 1rem;
  border-radius: 2rem;
}
.cocktail-container {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .cocktail-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .cocktail-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .cocktail-card {
    width: 20%;
  }
}
