* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  list-style-type: none;
}

:root {
  --button-color: #e7a249;
  --font-color: #e23d09;
}

h1 {
  font-size: 3rem;
  text-decoration: underline;
  color: var(--font-color);
  text-align: center;
  text-shadow: 1px 1px 3px black;
}
body {
  font-family: "Bubblegum Sans", sans-serif;
}
.main {
  background-image: url(./assets/background_ct.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: flex-start;
}
.searchbar {
  margin-top: 12rem;
  width: 350px;
}

.radio {
  margin: 1rem;
}
label {
  margin: 0.2rem;
  color: antiquewhite;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 5px;
}
.error {
  text-align: center;
  padding: 3rem;
  margin: 3rem auto;
  width: 50px;
  height: 50px;
  border: 2px solid black;
}
img {
  border: 15px solid black;
  width: 50%;
}
.form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn {
  color: black;
  font-weight: 500;
  background-color: var(--button-color);
  border: var(--button-color);
  margin: 1rem;
}
.btn:hover {
  cursor: pointer;
  background-color: var(--font-color);
}
.cocktail-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0.5rem;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 2rem;
  box-shadow: 1px 1px 1px #3e3d3f;
}

.search-img {
  margin: 1rem;
  border-radius: 2rem;
}
.cocktail-container {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .cocktail-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .cocktail-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .cocktail-card {
    width: 20%;
  }
}
